/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");
/*　初期設定 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1.7;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  vertical-align: baseline;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* フォント設定 */
h2 {
  font-family: "Zen Maru Gothic", serif;
  font-weight: bold;
}

h3 {
  font-family: "Zen Maru Gothic", serif;
  font-weight: bold;
}

p {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
}

/* 背景 */

body:after {
  /*擬似要素をつくる*/
  position: fixed; /*固定配置*/
  z-index: -2;
  top: 0;
  left: 0; /*左上に固定*/
  width: 100%;
  height: 100vh; /*画面全体を覆う*/
  content: "";
  background: #ffffff; /*保険用*/
  background: -moz-linear-gradienttt(
    137deg,
    rgba(249, 249, 249, 1),
    rgba(232, 241, 241, 1) 43%,
    rgba(255, 255, 255, 1)
  ); /*古いFireFox向け*/
  background: -webkit-linear-gradienttt(
    137deg,
    rgba(249, 249, 249, 1),
    rgba(232, 241, 241, 1) 43%,
    rgba(255, 255, 255, 1)
  ); /*古いSafari・Chrome向け*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbcacb', endColorstr='#f79697',GradientType=0 ); /*IE9以下への対応*/
  background-image: linear-gradient(
    137deg,
    rgba(249, 249, 249, 1),
    rgba(232, 241, 241, 1) 43%,
    rgba(255, 255, 255, 1)
  ); /*正規のプロパティ*/
}

/* ヘッダー */
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    margin-top: 20px;
    width: 90%;
  }
}
/* nav　メニュー */

nav {
  text-align: center;
  width: 75px;
  position: relative;
  height: 100px;
  overflow: hidden;
  background: none;
}
nav ul {
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  color: #333;
  display: inline-block;
  padding: 1em 3em;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  transition-property: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear;
  font-size: 16px;
}
nav ul li a:hover {
  color: #34b484;
}

/* オープン、クローズボタン */
.button {
  display: inline;
  position: absolute;
  right: 10px;
  top: 25px;
  z-index: 999;
  font-size: 50px;
}
.button a {
  text-decoration: none;
  position: relative;
  z-index: 999;
}
.btn-open:after {
  right: 10px;
  top: 25px;
  z-index: 999;
  position: fixed;
  color: #34b484;
  content: "\f0c9";
  font-family: "FontAwesome";
  transition-property: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear;
}
.btn-open:hover:after {
  color: #34b484;
}
.btn-close:after {
  z-index: 999;
  right: 12px;
  top: 25px;
  position: fixed;
  color: #fff;
  content: "\f00d";
  font-family: "FontAwesome";
  transition-property: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear;
}
.btn-close:hover:after {
  color: #34b484;
}
/*overlay*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: #333;
  overflow: auto;
  z-index: 99;
  overflow: hidden;
}
.wrap {
  color: #e9e9e9;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}
.wrap ul.wrap-nav {
  margin-top: 60px;
  border-bottom: 1px solid #575757;
  text-transform: capitalize;
  padding: 150px 0px 100px;
}
.wrap ul.wrap-nav li {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  position: relative;
}
.wrap ul.wrap-nav li a {
  color: #34b484;
  font-family: "Zen Maru Gothic", serif;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  transition-property: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear;
}
.wrap ul.wrap-nav li a:hover {
  color: #f0f0f0;
}
.wrap ul.wrap-nav ul {
  padding: 20px 0;
}
.wrap ul.wrap-nav ul li {
  display: block;
  font-size: 13px;
  width: 100%;
  color: #e9e9e9;
}
.wrap ul.wrap-nav ul li a {
  color: #f0f0f0;
}
.wrap ul.wrap-nav ul li a:hover {
  color: #34b484;
}

@media screen and (max-width: 48em) {
  .wrap ul.wrap-nav > li {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #575757;
  }
  .wrap ul.wrap-nav {
    padding: 30px 0px 0px;
  }
  nav ul {
    opacity: 0;
    visibility: hidden;
  }
}
.content {
  width: 100%;
  margin-top: 200px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

body.no_scroll {
  overflow: hidden;
}

/* NewsContents h2 */

.News-contents-box {
  width: 100%;
  h2 {
    line-height: 0.9em;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    font-size: 50px;
    color: #34b484;
    border-left: #34b484 solid 4px;
    margin: 1em 10px;
    padding: 0 20px 0;
  }
}

/* NewsContents title */

.News-contents-title {
  line-height: 2.5;
  h3 {
    font-size: 25px;
    margin-left: 10px;
  }
  p {
    font-size: 14px;
    margin: 0.2em 10px 0.5em;
  }
}

.News-contents-tx {
  font-size: 18px;
  width: 95%;
  margin: 0 auto;
  img {
    margin: 2em 0;
  }
}

.News-contents-tx-letter {
  text-align: end;
  margin: 1em 0;
}

.responsive-slider {
  width: 80%;
  object-fit: cover;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  /* NewsContents h2 */
  h1 {
    margin-left: 20%;
  }
  .News-contents-box {
    width: 100%;
    h2 {
      line-height: 0.9em;
      font-size: 70px;
      color: #34b484;
      border-left: #34b484 solid 4px;
      margin: 10px 0 1em 15%;
      padding: 0 20px 0;
    }
  }

  /* NewsContents title */

  .News-contents-title {
    line-height: 2.5;
    h3 {
      font-size: 40px;
      margin-left: 20%;
    }
    p {
      font-size: 20px;
      margin: 0.2em 10px 4em 20%;
    }
  }

  .News-contents-tx {
    font-size: 20px;
    width: 50%;
    p {
      line-height: 2.2;
    }
    .img-box {
      width: 80%;
      margin: 2em auto;
    }
  }

  .responsive-slider {
    width: 40%;
    margin: 6em auto 6em;
  }
}

/* footer */
footer {
  width: 100%;
  a:link {
    color: #34b484;
  }
  a:visited {
    color: #34b484;
  }
  p {
    padding-top: 50px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    p {
      font-size: 20px;
    }
  }
}
